[submodule "Kaleidoscope-LEDEffect-DigitalRain"]
	path = Kaleidoscope-LEDEffect-DigitalRain
	url = https://github.com/tremby/Kaleidoscope-LEDEffect-DigitalRain.git
[submodule "Kaleidoscope-PrefixLayer"]
	path = Kaleidoscope-PrefixLayer
	url = https://github.com/ilianaw/Kaleidoscope-PrefixLayer.git
