[submodule "Kaleidoscope-LEDEffect-DigitalRain"]
	path = Kaleidoscope-LEDEffect-DigitalRain
	url = https://github.com/tremby/Kaleidoscope-LEDEffect-DigitalRain.git
[submodule "Kaleidoscope-PrefixLayer"]
	path = Kaleidoscope-PrefixLayer
	url = https://github.com/jamesnvc/Kaleidoscope-PrefixLayer.git
[submodule "hardware/keyboardio"]
	path = hardware/keyboardio
	url = https://github.com/keyboardio/Kaleidoscope-Bundle-Keyboardio.git
